.header {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    position: relative;
    padding: 25px 25px;
    position: fixed; /* 상단 고정 */
    top: 0; /* 화면 상단에 고정 */
    width: 100%; /* 화면 전체 너비를 차지하도록 설정 */
    z-index: 1000; /* 다른 요소들 위에 표시되도록 설정 */
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.header.scrolled {
    background: rgba(255, 255, 255, 1); /* 스크롤 시 흰색 배경 */
    border-bottom: 1px solid rgba(255, 255, 255, 1); /* 스크롤 시 테두리 변경 */
}
/*.upper{*/

/*    background-color: #E1BEE1;*/
/*    width:100%;*/
/*    padding: 25px 25px;*/
/*    border-bottom: 1px solid #e9ecef;*/
/*    justify-content: center;*/
/*    align-items: center;*/

/*}*/
/*.lower{*/
/*    padding: 25px 25px;*/
/*    width:100%;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    background-color: #f8f9fa;*/
/*!*}*!*/
/*.upper {*/
/*    display: flex;*/
/*    justify-content: flex-end; !* 오른쪽 정렬 *!*/
/*    padding: 10px 25px;*/
/*    background-color:#E1BEE1;*/
/*    width: 100%;*/
/*}*/
.lower {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
}


.logo {
    position: absolute;
    left: 20px;

}

.logo img {
    height: 40px;

}


/*.upnav-menu ul {*/
/*    position: absolute;*/
/*    left: 20px;*/
/*    list-style: none;*/
/*    display: flex;*/
/*    margin: 0;*/
/*    padding: 0;*/
/*}*/

/*.upnav-menu li {*/
/*    margin-right: 20px;*/
/*}*/

/*.upnav-menu li:last-child {*/
/*    margin-right: 0;*/
/*}*/

/*.upnav-menu a {*/
/*    text-decoration: none;*/
/*    color: #343a40;*/
/*    font-weight:lighter;*/
/*}*/

/*.upnav-menu a:hover {*/
/*    color: #A84B94;*/
/*}*/

.nav-menu ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-menu li {
    margin-right: 40px;
    position: relative;
}

.nav-menu li:last-child {
    margin-right: 0;
}

.nav-menu li:hover .dropdown-container,
.dropdown-container:hover {

    display: flex; /* 드롭다운 메뉴가 보이도록 설정 */
}

.nav-menu a {
    text-decoration: none;
    color: #343a40;
    font-weight: bold;

}
.navtitle{
        color: rgb(207, 207, 207);
        filter: drop-shadow(0 0 2px rgba(255, 255, 255, 0.7))
        drop-shadow(0 0 2px rgba(255, 255, 255, 0.7))
        drop-shadow(0 0 2px rgba(255, 255, 255, 0.7));
    /*text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #fffefe, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;*/
}


.nav-menu a:hover {
    color: #A84B94;
}

.button a{
    width: 135px;
    height: 35px;
    color: #e9ecef;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;


}
.button a:hover{
    color: #BFDBFF;
}
.button{
    background-color: #282c34;
    width: 135px;
    height: 35px;
    text-decoration: none;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 20px;
    border-radius: 10px;
    display: flex;
    /*margin: 0;*/
    margin-right: 30px;
    padding: 0;

}

.dropdown-container {
    background-color: #e9ecef;
    border: 1px solid #e9ecef;
    flex-direction: column;
    position: absolute;
    width: 200px;
    /*right:0;*/
    /*top: 43px; !* 네비게이션 바 바로 아래에 위치 *!*/
    top:100%;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1; /* 드롭다운 메뉴가 다른 요소들 위에 표시되도록 설정 */
    left: 50%; /* 가운데 정렬을 위한 기준 설정 */
    transform: translateX(-50%); /* 왼쪽으로 반만 이동하여 가운데 정렬 */
}

.dropdown-container {
    list-style: none;
    padding: 0;
    margin: 0;

}

.dropdown-container li {
    margin: 0;
    padding: 5px 20px;

}


.dropdown-container li a {
    color: #343a40;
    text-decoration: none;
    font-weight: normal;
}

.dropdown-container li a:hover {
    color: #A84B94;
}



@media (max-width: 768px) {
    .lower {
        flex-direction: column;
        align-items: center;
    }

    .logo {
        position: static;
        margin-bottom: 10px;
    }

    .button {
        position: static;
        margin-top: 10px;
    }
}


